In [1]:
# pandas
import pandas as pd

In [2]:
import PySimpleGUI as sg
def selection(option):
    #sg.theme('DarkAmber')   # Add a touch of color
    #select the variable we want to calculate
    options = option

    # All the stuff inside your window.
    layout = [ 
            [sg.Text('Select one->'), sg.Listbox(options,select_mode=sg.LISTBOX_SELECT_MODE_SINGLE,size=(20,len(options)))],
            [sg.Button('Ok'), sg.Button('Cancel')]
        ]

    # Create the Window
    window = sg.Window('Make your choice', layout)

    # Event Loop to process "events" and get the "values" of the input
    while True:
        event, values = window.read()
        print( f"event={event}" )
        if event is None or event == 'Ok' or event == 'Cancel': # if user closes window or clicks cancel
            break
        
    # close  the window        
    window.close()

    if event == "Cancel":
        print( "You cancelled" )
    else:
        print('You entered ', values[0])
        sg.popup( f"You selected {values[0]}" )        
    return values

In [3]:
import eurostat
df = eurostat.get_data_df('bd_9ac_l_form_r2', flags=False)
df

,indic_sb,leg_form,nace_r2,geo\time,2020,2019,2018,2017,2016,2015,...,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004
0,V11910,ENT_LL,B,AT,181.00,180.00,179.00,183.00,183.00,186.00,...,189.00,195.00,197.00,195.00,196.00,199.00,192.0,165.0,162.0,160.0
1,V11910,ENT_LL,B,BA,NaN,246.00,252.00,249.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,V11910,ENT_LL,B,BE,149.00,151.00,137.00,176.00,186.00,194.00,...,210.00,218.00,230.00,232.00,232.00,254.00,NaN,NaN,NaN,NaN
3,V11910,ENT_LL,B,BG,282.00,271.00,333.00,343.00,379.00,395.00,...,400.00,378.00,356.00,361.00,359.00,291.00,NaN,NaN,NaN,NaN
4,V11910,ENT_LL,B,CH,NaN,235.00,238.00,241.00,240.00,242.00,...,252.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449584,V97131,TOTAL,S96,RO,1.29,1.23,1.39,1.47,1.27,1.31,...,1.04,1.42,1.12,1.29,1.42,1.75,NaN,NaN,NaN,NaN
449585,V97131,TOTAL,S96,SI,0.98,NaN,1.04,1.05,0.99,1.00,...,1.05,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449586,V97131,TOTAL,S96,SK,1.02,1.13,1.20,1.15,NaN,1.14,...,1.09,1.17,1.05,1.06,1.06,NaN,NaN,NaN,NaN,NaN
449587,V97131,TOTAL,S96,TR,NaN,NaN,1.48,1.40,1.55,1.51,...,1.48,1.55,1.95,1.76,1.49,NaN,NaN,NaN,NaN,NaN
449588,V97131,TOTAL,S96,UK,NaN,NaN,3.03,2.87,2.79,3.03,...,2.93,2.68,2.73,2.51,2.47,2.50,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['indic_sb', 'leg_form',  'nace_r2', 'geo\time',       2020,       2019,
             2018,       2017,       2016,       2015,       2014,       2013,
             2012,       2011,       2010,       2009,       2008,       2007,
             2006,       2005,       2004],
      dtype='object')

In [5]:
#eliminate columns for years previous to 2011
years =[]
year_start=2004
year_study=2011
for y in range(year_start,year_study): 
    years.append(y)
df=df.drop(years, axis=1)#quitamos todas las columnas de añosque no nos interesan
#rename geo time column to be easier to handle because of the name
df.rename(columns={"geo\\time": "geo"}, inplace=True)
#We can get the unique values of the different variables

In [6]:
df

,indic_sb,leg_form,nace_r2,geo,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
0,V11910,ENT_LL,B,AT,181.00,180.00,179.00,183.00,183.00,186.00,186.00,189.00,195.00,197.00
1,V11910,ENT_LL,B,BA,NaN,246.00,252.00,249.00,NaN,NaN,NaN,NaN,NaN,NaN
2,V11910,ENT_LL,B,BE,149.00,151.00,137.00,176.00,186.00,194.00,201.00,210.00,218.00,230.00
3,V11910,ENT_LL,B,BG,282.00,271.00,333.00,343.00,379.00,395.00,388.00,400.00,378.00,356.00
4,V11910,ENT_LL,B,CH,NaN,235.00,238.00,241.00,240.00,242.00,247.00,252.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449584,V97131,TOTAL,S96,RO,1.29,1.23,1.39,1.47,1.27,1.31,1.45,1.04,1.42,1.12
449585,V97131,TOTAL,S96,SI,0.98,NaN,1.04,1.05,0.99,1.00,NaN,1.05,1.00,NaN
449586,V97131,TOTAL,S96,SK,1.02,1.13,1.20,1.15,NaN,1.14,1.05,1.09,1.17,1.05
449587,V97131,TOTAL,S96,TR,NaN,NaN,1.48,1.40,1.55,1.51,1.50,1.48,1.55,1.95
449588,V97131,TOTAL,S96,UK,NaN,NaN,3.03,2.87,2.79,3.03,2.98,2.93,2.68,2.73

In [7]:
weights_target = pd.read_excel("ecosystemweights.xlsx")
naceweights=weights_target['NACE_R2'].unique()
naceweights

array(['A', 'C10-C12', 'C13-C15', 'C16', 'C17', 'C18', 'C19', 'C20',
       'C21', 'C22', 'C23', 'C24', 'C25', 'C26', 'C27', 'C28', 'C29',
       'C30', 'C31', 'C32', 'C33', 'D', 'E36', 'E37-E39', 'F', 'G45',
       'G46', 'G47', 'H49', 'H50', 'H51', 'H52', 'H53', 'I', 'J58',
       'J59_J60', 'J61', 'J62_J63', 'L', 'M69_M70', 'M71', 'M72', 'M73',
       'M74_M75', 'N77', 'N78', 'N79', 'N80', 'N81', 'N82', 'P', 'Q86',
       'Q87_Q88', 'R90-R92', 'R93', 'S94', 'S95', 'S96', 'T'],
      dtype=object)

In [8]:
nacedf=df['nace_r2'].unique()
nacedf

array(['B', 'B-E', 'B-N_X_K642', 'B-S_X_K642', 'C', 'C10-C12', 'C13_C14',
       'C15', 'C16', 'C17_C18', 'C19', 'C20_C21', 'C22', 'C23', 'C24_C25',
       'C26_C27', 'C28', 'C29_C30', 'C31_C32', 'C33', 'C_ICT', 'D', 'E',
       'F', 'G', 'G-N_X_K642', 'G-U_ICT', 'G45', 'G46', 'G46_ICT', 'G47',
       'G471', 'G472', 'G473', 'G474', 'G475', 'G476', 'G477', 'G478',
       'G479', 'H', 'H49', 'H50', 'H51', 'H52', 'H53', 'I', 'I55', 'I56',
       'ICT', 'J', 'J58', 'J59', 'J60', 'J61', 'J62', 'J620', 'J6201',
       'J6202', 'J6203', 'J6209', 'J63', 'K64_X_K642', 'K65', 'K66',
       'K_X_K642', 'L', 'L68', 'L681', 'L6810', 'L682', 'L6820', 'L683',
       'L6831', 'L6832', 'M', 'M69', 'M691', 'M6910', 'M692', 'M6920',
       'M70', 'M701', 'M7010', 'M702', 'M7021', 'M7022', 'M71', 'M711',
       'M7111', 'M7112', 'M712', 'M7120', 'M72', 'M721', 'M7211', 'M7219',
       'M722', 'M7220', 'M73', 'M731', 'M7311', 'M7312', 'M732', 'M7320',
       'M74', 'M741', 'M7410', 'M742', 'M7420', 'M743', 'M7430', 'M749',
       'M7490', 'M75', 'M750', 'M7500', 'N', 'N77', 'N771', 'N7711',
       'N7712', 'N772', 'N7721', 'N7722', 'N7729', 'N773', 'N7731',
       'N7732', 'N7733', 'N7734', 'N7735', 'N7739', 'N774', 'N7740',
       'N78', 'N781', 'N7810', 'N782', 'N7820', 'N783', 'N7830', 'N79',
       'N791', 'N7911', 'N7912', 'N799', 'N7990', 'N80', 'N801', 'N8010',
       'N802', 'N8020', 'N803', 'N8030', 'N81', 'N811', 'N8110', 'N812',
       'N8121', 'N8122', 'N8129', 'N813', 'N8130', 'N82', 'N821', 'N8211',
       'N8219', 'N822', 'N8220', 'N823', 'N8230', 'N829', 'N8291',
       'N8292', 'N8299', 'P', 'P-S', 'P-S_X_S94', 'P85', 'Q', 'Q86',
       'Q87', 'Q88', 'R', 'R90', 'R91', 'R92', 'R93', 'S', 'S94', 'S95',
       'S96', 'TOTAL'], dtype=object)

In [9]:
nace_sel=[]
for n in naceweights:
    if n in nacedf:
        nace_sel.append(n)
nace_sel

['C10-C12',
 'C16',
 'C19',
 'C22',
 'C23',
 'C28',
 'C33',
 'D',
 'F',
 'G45',
 'G46',
 'G47',
 'H49',
 'H50',
 'H51',
 'H52',
 'H53',
 'I',
 'J58',
 'J61',
 'L',
 'M71',
 'M72',
 'M73',
 'N77',
 'N78',
 'N79',
 'N80',
 'N81',
 'N82',
 'P',
 'Q86',
 'R93',
 'S94',
 'S95',
 'S96']

In [10]:
nace_dif=set(naceweights)-set(nace_sel)
nace_dif

{'A',
 'C13-C15',
 'C17',
 'C18',
 'C20',
 'C21',
 'C24',
 'C25',
 'C26',
 'C27',
 'C29',
 'C30',
 'C31',
 'C32',
 'E36',
 'E37-E39',
 'J59_J60',
 'J62_J63',
 'M69_M70',
 'M74_M75',
 'Q87_Q88',
 'R90-R92',
 'T'}

In [11]:
nace_include=['C13_C14','C15', 'C17_C18', 'C20_C21', 'C24_C25',  'C26_C27',  'C29_C30', 'C31_C32','E', 'J59', 'J60', 'J62', 'J63',
'M69','M70', 'M74', 'M75', 'Q87', 'Q88', 'R90', 'R91', 'R92']
nace_include

['C13_C14',
 'C15',
 'C17_C18',
 'C20_C21',
 'C24_C25',
 'C26_C27',
 'C29_C30',
 'C31_C32',
 'E',
 'J59',
 'J60',
 'J62',
 'J63',
 'M69',
 'M70',
 'M74',
 'M75',
 'Q87',
 'Q88',
 'R90',
 'R91',
 'R92']

In [12]:
nace_def=[]
for n in nace_include:
    nace_sel.append(n)
nace_sel

['C10-C12',
 'C16',
 'C19',
 'C22',
 'C23',
 'C28',
 'C33',
 'D',
 'F',
 'G45',
 'G46',
 'G47',
 'H49',
 'H50',
 'H51',
 'H52',
 'H53',
 'I',
 'J58',
 'J61',
 'L',
 'M71',
 'M72',
 'M73',
 'N77',
 'N78',
 'N79',
 'N80',
 'N81',
 'N82',
 'P',
 'Q86',
 'R93',
 'S94',
 'S95',
 'S96',
 'C13_C14',
 'C15',
 'C17_C18',
 'C20_C21',
 'C24_C25',
 'C26_C27',
 'C29_C30',
 'C31_C32',
 'E',
 'J59',
 'J60',
 'J62',
 'J63',
 'M69',
 'M70',
 'M74',
 'M75',
 'Q87',
 'Q88',
 'R90',
 'R91',
 'R92']

[V11910] Population of active enterprises in t - number
[V11920] Births of enterprises in t - number
[V11930] Deaths of enterprises in t - number 
[V97015] Business churn: birth rate + death rate - percentage 
[V97020] Birth rate: number of enterprise births in the reference period (t) divided by the tota

In [13]:
#list of selected variables variabales

indic_sb=['V11920']
legform=['TOTAL']

In [14]:
df.columns

Index(['indic_sb', 'leg_form',  'nace_r2',      'geo',       2020,       2019,
             2018,       2017,       2016,       2015,       2014,       2013,
             2012,       2011],
      dtype='object')

In [15]:
nacedrop=['O','K66', 'J', 'H', 'C16-C18','A03', 'O-Q', 'E', 'C31-C33', 'M_N', 'J58-J60', 'R-U', 'G', 'K', 'TOTAL', 'L68A', 'A02', 'C22_C23', 'C29_C30',  'B-E', 'G-I', 'N', 'Q', 'R', 'C24_C25','C', 'M69-M71', 'M73-M75', 'U', 'S', 'B', 'M', 'A01', 'K65','K64']
countries_not_selected= ['UK', 'TR', 'AL','IS','LI','NO','CH','UK','ME','MK','AL','RS','TR','BA','EU28','EU15','EA','EA19','EA12', 'EU27_2007' ,'EU_V']

#we select the rows that have the right unit, nace codes, items and countries
df_selection=df[df.nace_r2.isin(nace_sel)&df.leg_form.isin(legform)&df.indic_sb.isin(indic_sb)&~df.geo.isin(countries_not_selected)]
df_selection.set_index('nace_r2', inplace=True)
df_selection

,indic_sb,leg_form,geo,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
nace_r2,,,,,,,,,,,,,
C10-C12,V11920,TOTAL,AT,257.0,196.0,215.0,243.0,253.0,200.0,168.0,186.0,198.0,178.0
C10-C12,V11920,TOTAL,BE,407.0,363.0,364.0,344.0,317.0,328.0,280.0,246.0,302.0,343.0
C10-C12,V11920,TOTAL,BG,453.0,591.0,506.0,606.0,676.0,700.0,643.0,621.0,651.0,527.0
C10-C12,V11920,TOTAL,CY,35.0,28.0,36.0,36.0,44.0,49.0,44.0,33.0,39.0,23.0
C10-C12,V11920,TOTAL,CZ,1280.0,1326.0,1374.0,1470.0,1311.0,1120.0,1260.0,1010.0,1070.0,1465.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
S96,V11920,TOTAL,PL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S96,V11920,TOTAL,PT,6528.0,8169.0,7726.0,7562.0,6920.0,6966.0,6403.0,6585.0,5318.0,5435.0
S96,V11920,TOTAL,RO,5793.0,6446.0,5740.0,5457.0,3985.0,4447.0,2489.0,5327.0,3667.0,2631.0
S96,V11920,TOTAL,SI,810.0,912.0,832.0,731.0,834.0,769.0,729.0,751.0,627.0,616.0
S96,V11920,TOTAL,SK,2498.0,2390.0,2581.0,2576.0,2171.0,1713.0,4088.0,1149.0,1412.0,1633.0

In [16]:
#ratios to disaggregate values based on number of entrerprises
ratios_values = pd.read_excel("ratio-Enterprises - number.xlsx")
ratios_values.set_index('nace_r2', inplace=True)#nace as index
ratios_values

,Enterprises - number2011,Enterprises - number2012,Enterprises - number2013,Enterprises - number2014,Enterprises - number2015,Enterprises - number2016,Enterprises - number2017,Enterprises - number2018,Enterprises - number2019
nace_r2,,,,,,,,,
C17,0.142719,0.144014,0.142813,0.141727,0.142321,0.146802,0.145963,0.154977,0.147746
C18,0.857281,0.855986,0.857187,0.858273,0.857679,0.853198,0.854037,0.845023,0.852254
C20,0.876293,0.878456,0.874083,0.879588,0.886641,0.868502,0.888041,0.890197,0.886870
C21,0.123707,0.121544,0.125917,0.120412,0.113359,0.131498,0.111959,0.109803,0.113130
C24,0.044613,0.042943,0.043057,0.040022,0.039473,0.038860,0.037579,0.035533,0.036274
C25,0.955387,0.957057,0.956943,0.959978,0.960527,0.961140,0.962421,0.964467,0.963726
C26,0.431176,0.430538,0.439708,0.439024,0.441048,0.439283,0.447368,0.462338,0.463051
C27,0.568824,0.569462,0.560292,0.560976,0.558952,0.560717,0.552632,0.537662,0.536949
C29,0.579390,0.585392,0.585427,0.583907,0.570094,0.573379,0.564660,0.557615,0.557139
C30,0.420610,0.414608,0.414573,0.416093,0.429906,0.426621,0.435340,0.442385,0.442861
C31,0.469565,0.461590,0.450009,0.439626,0.440000,0.450866,0.443378,0.444444,0.447100
C32,0.530435,0.538410,0.549991,0.560374,0.560000,0.549134,0.556622,0.555556,0.552900
E36,0.228697,0.212448,0.214071,0.209534,0.212841,0.205711,0.202028,0.196796,0.187755
E37,0.157496,0.153549,0.151875,0.150071,0.141894,0.150854,0.154703,0.149552,0.150742
E38,0.578893,0.594444,0.593034,0.599621,0.595956,0.591596,0.590684,0.600123,0.605433
E39,0.034914,0.039559,0.041021,0.040774,0.049308,0.051839,0.052585,0.053529,0.056071

In [17]:
# columns of countries to be eliminated
cols = ['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES', 'FI','FR', 'HR', 'HU', 'IE', 'IT', 'LT','LU', 'LV', 'MT','NL', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK']
pd.set_option('display.float_format', lambda x: '%.0f' % x)
#create a dataframe for the results
results_compiled = pd.DataFrame()
variable_of_interest='Births of enterprises in t - number'

import numpy as np
#loop to calculate values for years
for j in range (2011,2019):
    year=j
    #we transpose the values for the year selected
    for i in range (year,year+1):
        df_target = pd.pivot_table(df_selection, values=i, index=['nace_r2'],columns=["geo"], aggfunc=np.sum, fill_value=0)#reorde
    df_target['sum'] = df_target[cols].sum(axis=1)#sums the columns of the countries to "sum" 
    df_target=df_target.drop(cols, axis=1)#eliminamos las columnas sumadas de países
    df_target.loc[df_target['EU27_2020']==0,'EU27_2020'] = df_target['sum']#now we can locate columns with 0 and make the substitution with the column "sum"
    moddf_target=df_target.drop('sum', axis=1)#we create a new table 
        #add rows C31,... and assign value with the ratio multiplying by the value of position C31_32
    year_ratio=j-2011
    moddf_target.loc['C13-C15'] = moddf_target.loc['C13_C14']+moddf_target.loc['C15']
    moddf_target.loc['J59_J60'] = moddf_target.loc['J59']+moddf_target.loc['J60']
    moddf_target.loc['J62_J63'] = moddf_target.loc['J62']+moddf_target.loc['J63']
    moddf_target.loc['M69_M70'] = moddf_target.loc['M69']+moddf_target.loc['M70']
    moddf_target.loc['M74_M75'] = moddf_target.loc['M74']+moddf_target.loc['M75']
    moddf_target.loc['Q87_Q88'] = moddf_target.loc['Q87']+moddf_target.loc['Q88']    
    moddf_target.loc['R90-R92'] = moddf_target.loc['R90']+moddf_target.loc['R91']+moddf_target.loc['R92'] 
    moddf_target.loc['C17'] = ratios_values.iloc[0][year_ratio]*moddf_target.loc['C17_C18','EU27_2020']
    moddf_target.loc['C18'] = ratios_values.iloc[1][year_ratio]*moddf_target.loc['C17_C18','EU27_2020']
    moddf_target.loc['C20'] = ratios_values.iloc[2][year_ratio]*moddf_target.loc['C20_C21','EU27_2020']
    moddf_target.loc['C21'] = ratios_values.iloc[3][year_ratio]*moddf_target.loc['C20_C21','EU27_2020']
    moddf_target.loc['C24'] = ratios_values.iloc[4][year_ratio]*moddf_target.loc['C24_C25','EU27_2020']
    moddf_target.loc['C25'] = ratios_values.iloc[5][year_ratio]*moddf_target.loc['C24_C25','EU27_2020']
    moddf_target.loc['C26'] = ratios_values.iloc[6][year_ratio]*moddf_target.loc['C26_C27','EU27_2020']
    moddf_target.loc['C27'] = ratios_values.iloc[7][year_ratio]*moddf_target.loc['C26_C27','EU27_2020']
    moddf_target.loc['C29'] = ratios_values.iloc[8][year_ratio]*moddf_target.loc['C29_C30','EU27_2020']
    moddf_target.loc['C30'] = ratios_values.iloc[9][year_ratio]*moddf_target.loc['C29_C30','EU27_2020']
    moddf_target.loc['C31'] = ratios_values.iloc[10][year_ratio]*moddf_target.loc['C31_C32','EU27_2020']
    moddf_target.loc['C32'] = ratios_values.iloc[11][year_ratio]*moddf_target.loc['C31_C32','EU27_2020']
    moddf_target.loc['E36'] = ratios_values.iloc[12][year_ratio]*moddf_target.loc['E','EU27_2020']
    moddf_target.loc['E37-E39'] = (1-ratios_values.iloc[12][year_ratio])*moddf_target.loc['E','EU27_2020']
    #we eliminate old rows
    moddf_target = moddf_target.drop(['C17_C18', 'C20_C21','C24_C25', 'C26_C27', 'C29_C30', 'C31_C32', 'E','C13_C14', 'C15','C20_C21','J59','J60', 'J62','J63', 'M69','M70', 'M74','M75', 'Q87','Q88','R90', 'R91','R92'])
    
    weights_target = pd.read_excel("ecosystemweights.xlsx")
    weights_target.set_index('NACE_R2', inplace=True)#nace como índice
    column_name=str(variable_of_interest)+str(year)
    weights_target[variable_of_interest]=weights_target.index.map(moddf_target['EU27_2020'])#busca en df_target el nace y copia el valor de EU27_2020 en la fila del nace the weights_target
    #creamos la matriz de resultados
    results=weights_target
    for i in range(0,14):
        results.iloc[:, i]=weights_target.iloc[:, i]*weights_target[variable_of_interest]#we multiply the total value added by the weight for each nace
    results.loc['total'] = results.select_dtypes(pd.np.number).sum() #we add the values of each colum in a row call total
    results_compiled[column_name]=results.loc['total']
results_compiled = results_compiled.drop(variable_of_interest)

#results_compiled.loc['total'] = results_compiled.select_dtypes(pd.np.number).sum()
results_compiled

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:53: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

,Births of enterprises in t - number2011,Births of enterprises in t - number2012,Births of enterprises in t - number2013,Births of enterprises in t - number2014,Births of enterprises in t - number2015,Births of enterprises in t - number2016,Births of enterprises in t - number2017,Births of enterprises in t - number2018
Aerospace & Defence,24753,23894,23418,25144,24060,24834,25617,27171
Agri-food,42483,42711,44163,46173,45883,46468,48415,51588
Construction,515124,494235,486832,534260,512876,532988,553522,604701
Cultural and Creative Industries,193852,189886,195657,212701,209486,219478,225831,243626
Digital,118393,116434,121703,130237,129885,133607,141071,156788
Electronics,7103,6841,6784,7471,7194,7269,7626,8132
Energy - Renewables,10581,10800,9003,8073,7835,8284,7599,8302
Energy Intensive Industries,39703,37922,38067,42941,40404,40778,42456,44820
Health,157006,162931,154546,175677,184429,191812,193837,202556
Mobility - Transport - Automotive,141615,140269,142219,151569,152988,160541,164568,172629
"Proximity, Social Economy and Civil Security",266699,263261,270100,285368,285400,290268,291763,307793
Retail,562507,555000,570725,562139,530976,528911,505508,521832
Textile,24364,24224,25499,28071,26634,27032,27333,28822
Tourism,374925,380775,395505,420434,430700,446541,453307,475691

In [18]:
moddf_target.index

Index(['C10-C12', 'C16', 'C19', 'C22', 'C23', 'C28', 'C33', 'D', 'F', 'G45',
       'G46', 'G47', 'H49', 'H50', 'H51', 'H52', 'H53', 'I', 'J58', 'J61', 'L',
       'M71', 'M72', 'M73', 'N77', 'N78', 'N79', 'N80', 'N81', 'N82', 'P',
       'Q86', 'R93', 'S94', 'S95', 'S96', 'C13-C15', 'J59_J60', 'J62_J63',
       'M69_M70', 'M74_M75', 'Q87_Q88', 'R90-R92', 'C17', 'C18', 'C20', 'C21',
       'C24', 'C25', 'C26', 'C27', 'C29', 'C30', 'C31', 'C32', 'E36',
       'E37-E39'],
      dtype='object', name='nace_r2')

In [19]:
weights_target.index

Index(['A', 'C10-C12', 'C13-C15', 'C16', 'C17', 'C18', 'C19', 'C20', 'C21',
       'C22', 'C23', 'C24', 'C25', 'C26', 'C27', 'C28', 'C29', 'C30', 'C31',
       'C32', 'C33', 'D', 'E36', 'E37-E39', 'F', 'G45', 'G46', 'G47', 'H49',
       'H50', 'H51', 'H52', 'H53', 'I', 'J58', 'J59_J60', 'J61', 'J62_J63',
       'L', 'M69_M70', 'M71', 'M72', 'M73', 'M74_M75', 'N77', 'N78', 'N79',
       'N80', 'N81', 'N82', 'P', 'Q86', 'Q87_Q88', 'R90-R92', 'R93', 'S94',
       'S95', 'S96', 'T', 'total'],
      dtype='object', name='NACE_R2')

In [20]:
diferencia_nace=set(weights_target.index)-set(moddf_target.index)
diferencia_nace

{'A', 'T', 'total'}

In [21]:
#save to file
filename = "%s.xlsx" % variable_of_interest
results_compiled.to_excel(filename)

In [22]:

#retrieve the data for ecosystems enterprises 
enterprises = pd.read_excel("Enterprises population.xlsx", index_col=0)
enterprises

,Enterprises population2011,Enterprises population2012,Enterprises population2013,Enterprises population2014,Enterprises population2015,Enterprises population2016,Enterprises population2017,Enterprises population2018
Aerospace & Defence,283626,294431,293288,297534,300017,303202,312107,313733
Agri-food,574369,610537,614244,620206,627190,635091,647039,654705
Construction,5569773,5743358,5701793,5792562,5824930,5901444,6021463,6168989
Cultural and Creative Industries,1713866,1785967,1814707,1886604,1949542,1998080,2052370,2123008
Digital,1013599,1069843,1096598,1146059,1178569,1213868,1287014,1317840
Electronics,102086,105482,104760,107268,107531,107654,109287,111095
Energy - Renewables,94863,106218,107917,109321,111614,114517,116236,114484
Energy Intensive Industries,573137,586702,579335,592723,590709,584989,593246,593082
Health,1940468,2013373,2027019,2100683,2235292,2296553,2346136,2381647
Mobility - Transport - Automotive,1763605,1855587,1867164,1891616,1911729,1940270,1986637,2008897
"Proximity, Social Economy and Civil Security",2577386,2676112,2717984,2788384,2883705,2930222,2974999,3011285
Retail,5954031,6199440,6180101,6194156,6152106,6105084,6079778,6032453
Textile,271808,280914,279471,284260,285125,287050,290686,293229
Tourism,3451256,3648125,3707574,3798011,3889008,3972676,4070688,4159412

In [23]:
#we create a table to store the new values 
births_rate=results_compiled.copy()

num_col_result=len(results_compiled.columns)

#iteration to calculate the values
for i in range(0,num_col_result):
    births_rate.iloc[:,i]= results_compiled.iloc[:, i]*100/enterprises.iloc[:, i]
births_rate=births_rate.add_suffix('-rate')
births_rate

,Births of enterprises in t - number2011-rate,Births of enterprises in t - number2012-rate,Births of enterprises in t - number2013-rate,Births of enterprises in t - number2014-rate,Births of enterprises in t - number2015-rate,Births of enterprises in t - number2016-rate,Births of enterprises in t - number2017-rate,Births of enterprises in t - number2018-rate
Aerospace & Defence,9,8,8,8,8,8,8,9
Agri-food,7,7,7,7,7,7,7,8
Construction,9,9,9,9,9,9,9,10
Cultural and Creative Industries,11,11,11,11,11,11,11,11
Digital,12,11,11,11,11,11,11,12
Electronics,7,6,6,7,7,7,7,7
Energy - Renewables,11,10,8,7,7,7,7,7
Energy Intensive Industries,7,6,7,7,7,7,7,8
Health,8,8,8,8,8,8,8,9
Mobility - Transport - Automotive,8,8,8,8,8,8,8,9
"Proximity, Social Economy and Civil Security",10,10,10,10,10,10,10,10
Retail,9,9,9,9,9,9,8,9
Textile,9,9,9,10,9,9,9,10
Tourism,11,10,11,11,11,11,11,11

In [24]:
#save to file
filename = 'births_rate.xlsx'
births_rate.to_excel(filename)