# pandas
import pandas as pd

In [2]:
import PySimpleGUI as sg
def selection(option):
    #sg.theme('DarkAmber')   # Add a touch of color
    #select the variable we want to calculate
    options = option

    # All the stuff inside your window.
    layout = [ 
            [sg.Text('Select one->'), sg.Listbox(options,select_mode=sg.LISTBOX_SELECT_MODE_SINGLE,size=(20,len(options)))],
            [sg.Button('Ok'), sg.Button('Cancel')]
        ]

    # Create the Window
    window = sg.Window('Make your choice', layout)

    # Event Loop to process "events" and get the "values" of the input
    while True:
        event, values = window.read()
        print( f"event={event}" )
        if event is None or event == 'Ok' or event == 'Cancel': # if user closes window or clicks cancel
            break
        
    # close  the window        
    window.close()

    if event == "Cancel":
        print( "You cancelled" )
    else:
        print('You entered ', values[0])
        sg.popup( f"You selected {values[0]}" )        
    return values

In [3]:
import eurostat
df = eurostat.get_data_df('nama_10_a64_e', flags=False)
df

,unit,nace_r2,na_item,geo\time,2020,2019,2018,2017,2016,2015,...,1984,1983,1982,1981,1980,1979,1978,1977,1976,1975
0,PCH_PRE_HW,A,EMP_DC,AT,5.8,-3.2,-3.1,-1.7,-0.6,-4.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PCH_PRE_HW,A,EMP_DC,BE,1.2,1.2,1.0,0.4,3.7,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PCH_PRE_HW,A,EMP_DC,BG,-1.6,-4.5,-6.4,6.2,-3.7,-2.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PCH_PRE_HW,A,EMP_DC,CH,2.0,-10.8,-3.2,-4.0,-0.7,-2.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,PCH_PRE_HW,A,EMP_DC,CY,-1.9,0.9,-5.7,-1.9,2.4,-1.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41894,THS_PER,U,SELF_DC,SE,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41895,THS_PER,U,SELF_DC,SI,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41896,THS_PER,U,SELF_DC,SK,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41897,THS_PER,U,SELF_DC,UK,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41898,THS_PER,U,SELF_DC,XK,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index([    'unit',  'nace_r2',  'na_item', 'geo\time',       2020,       2019,
             2018,       2017,       2016,       2015,       2014,       2013,
             2012,       2011,       2010,       2009,       2008,       2007,
             2006,       2005,       2004,       2003,       2002,       2001,
             2000,       1999,       1998,       1997,       1996,       1995,
             1994,       1993,       1992,       1991,       1990,       1989,
             1988,       1987,       1986,       1985,       1984,       1983,
             1982,       1981,       1980,       1979,       1978,       1977,
             1976,       1975],
      dtype='object')

In [5]:
#eliminate columns for years previous to 2011
years =[]
year_start=1975
year_study=2018
for y in range(year_start,year_study): 
    years.append(y)
years.append(2019)
years.append(2020)
df=df.drop(years, axis=1)#quitamos todas las columnas de añosque no nos interesan
#rename geo time column to be easier to handle because of the name
df.rename(columns={"geo\\time": "geo"}, inplace=True)
#We can get the unique values of the different variables
df

             unit nace_r2  na_item geo  2018
0      PCH_PRE_HW       A   EMP_DC  AT  -3.1
1      PCH_PRE_HW       A   EMP_DC  BE   1.0
2      PCH_PRE_HW       A   EMP_DC  BG  -6.4
3      PCH_PRE_HW       A   EMP_DC  CH  -3.2
4      PCH_PRE_HW       A   EMP_DC  CY  -5.7
...           ...     ...      ...  ..   ...
41894     THS_PER       U  SELF_DC  SE   0.0
41895     THS_PER       U  SELF_DC  SI   0.0
41896     THS_PER       U  SELF_DC  SK   0.0
41897     THS_PER       U  SELF_DC  UK   NaN
41898     THS_PER       U  SELF_DC  XK   NaN

[41899 rows x 5 columns]

In [6]:
# pandas
import pandas as pd 
# pip install eurostat  #herramienta para importar datos de eurostat
import eurostat
df_sbs = eurostat.get_data_df('sbs_sc_sca_r2', flags=False)
df_sbs

,nace_r2,indic_sb,size_emp,geo\time,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005
0,B,V11110,0-9,AT,NaN,183.0,192.0,215.0,226.0,230.0,227.0,238.0,238.0,242.0,245.0,244.0,237.0,NaN,NaN,NaN
1,B,V11110,0-9,BA,NaN,101.0,102.0,121.0,129.0,132.0,121.0,118.0,121.0,150.0,NaN,NaN,NaN,NaN,NaN,NaN
2,B,V11110,0-9,BE,NaN,140.0,118.0,173.0,144.0,167.0,149.0,175.0,160.0,227.0,249.0,248.0,NaN,NaN,NaN,NaN
3,B,V11110,0-9,BG,NaN,190.0,211.0,215.0,224.0,240.0,228.0,243.0,252.0,245.0,241.0,230.0,199.0,NaN,NaN,NaN
4,B,V11110,0-9,CH,NaN,82.0,84.0,81.0,85.0,84.0,86.0,89.0,75.0,75.0,79.0,85.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470233,S95,V92100,TOTAL,RS,NaN,4.4,4.3,4.2,4.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
470234,S95,V92100,TOTAL,SE,NaN,1.1,1.1,1.2,1.2,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
470235,S95,V92100,TOTAL,SI,NaN,1.5,1.5,1.5,1.5,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
470236,S95,V92100,TOTAL,SK,NaN,1.5,1.4,1.5,1.4,1.4,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
470237,S95,V92100,TOTAL,UK,NaN,NaN,5.2,4.4,7.3,6.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#eliminate columns for years previous to 2011
years =[]
year_start=2005
year_study=2018
for y in range(year_start,year_study): 
    years.append(y)
years.append(2019)
years.append(2020)
df_sbs=df_sbs.drop(years, axis=1)#quitamos todas las columnas de añosque no nos interesan
#rename geo time column to be easier to handle because of the name
df_sbs.rename(columns={"geo\\time": "geo"}, inplace=True)
#We can get the unique values of the different variables

In [8]:
nace_dif=set(df.nace_r2.unique())-set(df_sbs.nace_r2.unique())

In [9]:
nace_sel=set(df.nace_r2.unique())-set(nace_dif)
nace_sel

{'B',
 'C',
 'C16',
 'C17',
 'C18',
 'C19',
 'C20',
 'C21',
 'C22',
 'C23',
 'C24',
 'C25',
 'C26',
 'C27',
 'C28',
 'C29',
 'C30',
 'C33',
 'D',
 'E',
 'E36',
 'F',
 'G',
 'G45',
 'G46',
 'G47',
 'H',
 'H49',
 'H50',
 'H51',
 'H52',
 'H53',
 'I',
 'J',
 'J58',
 'J61',
 'L',
 'M',
 'M71',
 'M72',
 'M73',
 'N',
 'N77',
 'N78',
 'N79',
 'S95'}

In [10]:
unit=['THS_PER'] 
na_item=['EMP_DC']
country=['EU27_2020']

#we select the rows that have the right unit, nace codes, items and countries
df_selection=df[df.nace_r2.isin(nace_sel)&df.unit.isin(unit)&df.na_item.isin(na_item)&df.geo.isin(country)]
df_selection.set_index('nace_r2', inplace=True)
df_selection

            unit na_item        geo      2018
nace_r2
B        THS_PER  EMP_DC  EU27_2020    520.02
C        THS_PER  EMP_DC  EU27_2020  30341.38
C16      THS_PER  EMP_DC  EU27_2020   1018.56
C17      THS_PER  EMP_DC  EU27_2020    602.75
C18      THS_PER  EMP_DC  EU27_2020    638.30
C19      THS_PER  EMP_DC  EU27_2020    133.18
C20      THS_PER  EMP_DC  EU27_2020   1115.50
C21      THS_PER  EMP_DC  EU27_2020    526.11
C22      THS_PER  EMP_DC  EU27_2020   1664.20
C23      THS_PER  EMP_DC  EU27_2020   1214.32
C24      THS_PER  EMP_DC  EU27_2020    979.52
C25      THS_PER  EMP_DC  EU27_2020   3617.00
C26      THS_PER  EMP_DC  EU27_2020   1078.03
C27      THS_PER  EMP_DC  EU27_2020   1486.51
C28      THS_PER  EMP_DC  EU27_2020   2938.52
C29      THS_PER  EMP_DC  EU27_2020   2603.40
C30      THS_PER  EMP_DC  EU27_2020    629.58
C33      THS_PER  EMP_DC  EU27_2020   1375.68
D        THS_PER  EMP_DC  EU27_2020   1106.57
E        THS_PER  EMP_DC  EU27_2020   1605.80
E36      THS_PER  EMP_DC  EU27_2020    389.86
F        THS_PER  EMP_DC  EU27_2020  12996.61
G        THS_PER  EMP_DC  EU27_2020  29605.65
G45      THS_PER  EMP_DC  EU27_2020   3695.14
G46      THS_PER  EMP_DC  EU27_2020   9113.03
G47      THS_PER  EMP_DC  EU27_2020  16797.49
H        THS_PER  EMP_DC  EU27_2020  10764.38
H49      THS_PER  EMP_DC  EU27_2020   5904.85
H50      THS_PER  EMP_DC  EU27_2020    296.72
H51      THS_PER  EMP_DC  EU27_2020    299.13
H52      THS_PER  EMP_DC  EU27_2020   2744.65
H53      THS_PER  EMP_DC  EU27_2020   1519.03
I        THS_PER  EMP_DC  EU27_2020  10494.68
J        THS_PER  EMP_DC  EU27_2020   5912.85
J58      THS_PER  EMP_DC  EU27_2020    673.00
J61      THS_PER  EMP_DC  EU27_2020    822.48
L        THS_PER  EMP_DC  EU27_2020   2131.25
M        THS_PER  EMP_DC  EU27_2020  12548.33
M71      THS_PER  EMP_DC  EU27_2020   2830.42
M72      THS_PER  EMP_DC  EU27_2020   1157.65
M73      THS_PER  EMP_DC  EU27_2020   1053.65
N        THS_PER  EMP_DC  EU27_2020  13413.72
N77      THS_PER  EMP_DC  EU27_2020    627.24
N78      THS_PER  EMP_DC  EU27_2020   4407.47
N79      THS_PER  EMP_DC  EU27_2020    481.70
S95      THS_PER  EMP_DC  EU27_2020    438.19

In [11]:
df_selection=df_selection.drop(['na_item', 'unit', 'geo'], axis=1)

In [12]:
country=['EU27_2020']
size_emp_sbs=['TOTAL']
indic_sb_sbs=['V16110']

In [13]:
df_sbs.columns

Index(['nace_r2', 'indic_sb', 'size_emp', 'geo', 2018], dtype='object')

In [14]:
#we select the rows that have the right unit, nace codes, items and countries
df_sbs_selection=df_sbs[df_sbs.nace_r2.isin(nace_sel)&df_sbs.size_emp.isin(size_emp_sbs)&df_sbs.indic_sb.isin(indic_sb_sbs)&df_sbs.geo.isin(country)]
df_sbs_selection.set_index('nace_r2', inplace=True)
df_sbs_selection

        indic_sb size_emp        geo        2018
nace_r2
B         V16110    TOTAL  EU27_2020    397998.0
C         V16110    TOTAL  EU27_2020  29892974.0
C16       V16110    TOTAL  EU27_2020    922005.0
C17       V16110    TOTAL  EU27_2020    627709.0
C18       V16110    TOTAL  EU27_2020    600000.0
C19       V16110    TOTAL  EU27_2020    164113.0
C20       V16110    TOTAL  EU27_2020   1200000.0
C21       V16110    TOTAL  EU27_2020    605315.0
C22       V16110    TOTAL  EU27_2020   1670954.0
C23       V16110    TOTAL  EU27_2020   1200000.0
C24       V16110    TOTAL  EU27_2020    936334.0
C25       V16110    TOTAL  EU27_2020   3600000.0
C26       V16110    TOTAL  EU27_2020   1000000.0
C27       V16110    TOTAL  EU27_2020   1474720.0
C28       V16110    TOTAL  EU27_2020   3000000.0
C29       V16110    TOTAL  EU27_2020   2576192.0
C30       V16110    TOTAL  EU27_2020    698409.0
C33       V16110    TOTAL  EU27_2020   1173079.0
D         V16110    TOTAL  EU27_2020   1299157.0
E         V16110    TOTAL  EU27_2020   1510000.0
E36       V16110    TOTAL  EU27_2020    353306.0
F         V16110    TOTAL  EU27_2020  12142526.0
G         V16110    TOTAL  EU27_2020  29217920.0
G45       V16110    TOTAL  EU27_2020   3489042.0
G46       V16110    TOTAL  EU27_2020   9558186.0
G47       V16110    TOTAL  EU27_2020  16170694.0
H         V16110    TOTAL  EU27_2020  10297335.0
H49       V16110    TOTAL  EU27_2020   5741182.0
H50       V16110    TOTAL  EU27_2020         NaN
H51       V16110    TOTAL  EU27_2020    296964.0
H52       V16110    TOTAL  EU27_2020   2450000.0
H53       V16110    TOTAL  EU27_2020   1592250.0
I         V16110    TOTAL  EU27_2020  10653978.0
J         V16110    TOTAL  EU27_2020   6170224.0
J58       V16110    TOTAL  EU27_2020    800000.0
J61       V16110    TOTAL  EU27_2020    888538.0
L         V16110    TOTAL  EU27_2020   2459806.0
M         V16110    TOTAL  EU27_2020  11099373.0
M71       V16110    TOTAL  EU27_2020   2924354.0
M72       V16110    TOTAL  EU27_2020    530000.0
M73       V16110    TOTAL  EU27_2020    998701.0
N         V16110    TOTAL  EU27_2020  13871958.0
N77       V16110    TOTAL  EU27_2020    659761.0
N78       V16110    TOTAL  EU27_2020   4689330.0
N79       V16110    TOTAL  EU27_2020    471000.0
S95       V16110    TOTAL  EU27_2020    359509.0

In [15]:
df_sbs_selection=df_sbs_selection.drop(['indic_sb', 'size_emp', 'geo'], axis=1)
df_sbs_selection

               2018
nace_r2
B          397998.0
C        29892974.0
C16        922005.0
C17        627709.0
C18        600000.0
C19        164113.0
C20       1200000.0
C21        605315.0
C22       1670954.0
C23       1200000.0
C24        936334.0
C25       3600000.0
C26       1000000.0
C27       1474720.0
C28       3000000.0
C29       2576192.0
C30        698409.0
C33       1173079.0
D         1299157.0
E         1510000.0
E36        353306.0
F        12142526.0
G        29217920.0
G45       3489042.0
G46       9558186.0
G47      16170694.0
H        10297335.0
H49       5741182.0
H50             NaN
H51        296964.0
H52       2450000.0
H53       1592250.0
I        10653978.0
J         6170224.0
J58        800000.0
J61        888538.0
L         2459806.0
M        11099373.0
M71       2924354.0
M72        530000.0
M73        998701.0
N        13871958.0
N77        659761.0
N78       4689330.0
N79        471000.0
S95        359509.0

In [16]:
result = pd.concat([df_selection,df_sbs_selection], axis=1)
result

             2018        2018
nace_r2
B          520.02    397998.0
C        30341.38  29892974.0
C16       1018.56    922005.0
C17        602.75    627709.0
C18        638.30    600000.0
C19        133.18    164113.0
C20       1115.50   1200000.0
C21        526.11    605315.0
C22       1664.20   1670954.0
C23       1214.32   1200000.0
C24        979.52    936334.0
C25       3617.00   3600000.0
C26       1078.03   1000000.0
C27       1486.51   1474720.0
C28       2938.52   3000000.0
C29       2603.40   2576192.0
C30        629.58    698409.0
C33       1375.68   1173079.0
D         1106.57   1299157.0
E         1605.80   1510000.0
E36        389.86    353306.0
F        12996.61  12142526.0
G        29605.65  29217920.0
G45       3695.14   3489042.0
G46       9113.03   9558186.0
G47      16797.49  16170694.0
H        10764.38  10297335.0
H49       5904.85   5741182.0
H50        296.72         NaN
H51        299.13    296964.0
H52       2744.65   2450000.0
H53       1519.03   1592250.0
I        10494.68  10653978.0
J         5912.85   6170224.0
J58        673.00    800000.0
J61        822.48    888538.0
L         2131.25   2459806.0
M        12548.33  11099373.0
M71       2830.42   2924354.0
M72       1157.65    530000.0
M73       1053.65    998701.0
N        13413.72  13871958.0
N77        627.24    659761.0
N78       4407.47   4689330.0
N79        481.70    471000.0
S95        438.19    359509.0

In [17]:
#save to file

result.to_excel('comparison_employment.xlsx')