In [1]:
# pandas
import pandas as pd

In [2]:
import PySimpleGUI as sg
def selection(option):
    #sg.theme('DarkAmber')   # Add a touch of color
    #select the variable we want to calculate
    options = option

    # All the stuff inside your window.
    layout = [ 
            [sg.Text('Select one->'), sg.Listbox(options,select_mode=sg.LISTBOX_SELECT_MODE_SINGLE,size=(20,len(options)))],
            [sg.Button('Ok'), sg.Button('Cancel')]
        ]

    # Create the Window
    window = sg.Window('Make your choice', layout)

    # Event Loop to process "events" and get the "values" of the input
    while True:
        event, values = window.read()
        print( f"event={event}" )
        if event is None or event == 'Ok' or event == 'Cancel': # if user closes window or clicks cancel
            break
        
    # close  the window        
    window.close()

    if event == "Cancel":
        print( "You cancelled" )
    else:
        print('You entered ', values[0])
        sg.popup( f"You selected {values[0]}" )        
    return values

In [3]:
import eurostat
df = eurostat.get_data_df('bd_9bd_sz_cl_r2', flags=False)
df

,indic_sb,sizeclas,nace_r2,geo\time,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004
0,V11910,0,B,AT,131.0,130.0,129.0,140.0,142.0,154.00,152.0,165.0,163.0,158.0,168.0,170.0,165.0,93.0,72.0,73.0
1,V11910,0,B,BE,108.0,104.0,124.0,129.0,136.0,139.00,141.0,151.0,153.0,152.0,151.0,156.0,NaN,NaN,NaN,NaN
2,V11910,0,B,BG,85.0,123.0,117.0,141.0,142.0,139.00,142.0,143.0,131.0,124.0,129.0,63.0,NaN,NaN,NaN,NaN
3,V11910,0,B,CH,NaN,26.0,23.0,25.0,23.0,25.00,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,V11910,0,B,CY,4.0,2.0,NaN,6.0,0.0,5.00,7.0,5.0,4.0,5.0,3.0,3.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1954671,V97365,TOTAL,R93,FI,NaN,NaN,NaN,NaN,NaN,56.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1954672,V97365,TOTAL,S,FI,NaN,NaN,NaN,NaN,NaN,29.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1954673,V97365,TOTAL,S94,FI,NaN,NaN,NaN,NaN,NaN,-9.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1954674,V97365,TOTAL,S95,FI,NaN,NaN,NaN,NaN,NaN,50.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1954675,V97365,TOTAL,S96,FI,NaN,NaN,NaN,NaN,NaN,26.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#eliminate columns for years previous to 2011
years =[]
year_start=2004
year_study=2018
for y in range(year_start,year_study): 
    years.append(y)
years.append(2019)
df=df.drop(years, axis=1)#quitamos todas las columnas de añosque no nos interesan
#rename geo time column to be easier to handle because of the name
df.rename(columns={"geo\\time": "geo"}, inplace=True)
#We can get the unique values of the different variables

In [5]:
# pandas
import pandas as pd 
# pip install eurostat  #herramienta para importar datos de eurostat
import eurostat
df_sbs = eurostat.get_data_df('sbs_sc_sca_r2', flags=False)
df_sbs

,nace_r2,indic_sb,size_emp,geo\time,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005
0,B,V11110,0-9,AT,NaN,183.0,192.0,215.0,226.0,230.0,227.0,238.0,238.0,242.0,245.0,244.0,237.0,NaN,NaN,NaN
1,B,V11110,0-9,BA,NaN,101.0,102.0,121.0,129.0,132.0,121.0,118.0,121.0,150.0,NaN,NaN,NaN,NaN,NaN,NaN
2,B,V11110,0-9,BE,NaN,140.0,118.0,173.0,144.0,167.0,149.0,175.0,160.0,227.0,249.0,248.0,NaN,NaN,NaN,NaN
3,B,V11110,0-9,BG,NaN,190.0,211.0,215.0,224.0,240.0,228.0,243.0,252.0,245.0,241.0,230.0,199.0,NaN,NaN,NaN
4,B,V11110,0-9,CH,NaN,82.0,84.0,81.0,85.0,84.0,86.0,89.0,75.0,75.0,79.0,85.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470233,S95,V92100,TOTAL,RS,NaN,4.4,4.3,4.2,4.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
470234,S95,V92100,TOTAL,SE,NaN,1.1,1.1,1.2,1.2,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
470235,S95,V92100,TOTAL,SI,NaN,1.5,1.5,1.5,1.5,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
470236,S95,V92100,TOTAL,SK,NaN,1.5,1.4,1.5,1.4,1.4,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
470237,S95,V92100,TOTAL,UK,NaN,NaN,5.2,4.4,7.3,6.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#eliminate columns for years previous to 2011
years =[]
year_start=2005
year_study=2018
for y in range(year_start,year_study): 
    years.append(y)
years.append(2019)
years.append(2020)
df_sbs=df_sbs.drop(years, axis=1)#quitamos todas las columnas de añosque no nos interesan
#rename geo time column to be easier to handle because of the name
df_sbs.rename(columns={"geo\\time": "geo"}, inplace=True)
#We can get the unique values of the different variables

In [8]:
nace_dif=set(df.nace_r2.unique())-set(df_sbs.nace_r2.unique())

In [9]:
nace_sel=set(df.nace_r2.unique())-set(nace_dif)
nace_sel

{'B',
 'C',
 'C15',
 'C16',
 'C19',
 'C22',
 'C23',
 'C28',
 'C33',
 'D',
 'E',
 'F',
 'G',
 'G45',
 'G46',
 'G47',
 'H',
 'H49',
 'H50',
 'H51',
 'H52',
 'H53',
 'I',
 'I55',
 'I56',
 'J',
 'J58',
 'J59',
 'J60',
 'J61',
 'J62',
 'J63',
 'L',
 'L68',
 'M',
 'M69',
 'M70',
 'M71',
 'M72',
 'M73',
 'M74',
 'M75',
 'N',
 'N77',
 'N78',
 'N79',
 'N80',
 'N81',
 'N82',
 'S95'}

In [10]:
sizeclas=['TOTAL']
indic_sb=['V11910']
country=['EU27_2020']

#we select the rows that have the right unit, nace codes, items and countries
df_selection=df[df.nace_r2.isin(nace_sel)&df.sizeclas.isin(sizeclas)&df.indic_sb.isin(indic_sb)&df.geo.isin(country)]
df_selection.set_index('nace_r2', inplace=True)
df_selection

        indic_sb sizeclas        geo       2018
nace_r2
B         V11910    TOTAL  EU27_2020    20000.0
C         V11910    TOTAL  EU27_2020  2194335.0
C15       V11910    TOTAL  EU27_2020    39600.0
C16       V11910    TOTAL  EU27_2020   172828.0
C19       V11910    TOTAL  EU27_2020      980.0
C22       V11910    TOTAL  EU27_2020    59400.0
C23       V11910    TOTAL  EU27_2020    96000.0
C28       V11910    TOTAL  EU27_2020    86600.0
C33       V11910    TOTAL  EU27_2020   211000.0
D         V11910    TOTAL  EU27_2020   164000.0
E         V11910    TOTAL  EU27_2020    85000.0
F         V11910    TOTAL  EU27_2020  3679925.0
G         V11910    TOTAL  EU27_2020  6334076.0
G45       V11910    TOTAL  EU27_2020   886701.0
G46       V11910    TOTAL  EU27_2020  1840880.0
G47       V11910    TOTAL  EU27_2020  3606495.0
H         V11910    TOTAL  EU27_2020  1318331.0
H49       V11910    TOTAL  EU27_2020  1028965.0
H50       V11910    TOTAL  EU27_2020    21000.0
H51       V11910    TOTAL  EU27_2020     5500.0
H52       V11910    TOTAL  EU27_2020   150000.0
H53       V11910    TOTAL  EU27_2020   109000.0
I         V11910    TOTAL  EU27_2020  2034641.0
I55       V11910    TOTAL  EU27_2020   370252.0
I56       V11910    TOTAL  EU27_2020  1664389.0
J         V11910    TOTAL  EU27_2020  1182812.0
J58       V11910    TOTAL  EU27_2020   104348.0
J59       V11910    TOTAL  EU27_2020   154000.0
J60       V11910    TOTAL  EU27_2020    10000.0
J61       V11910    TOTAL  EU27_2020    44000.0
J62       V11910    TOTAL  EU27_2020   720285.0
J63       V11910    TOTAL  EU27_2020   150043.0
L         V11910    TOTAL  EU27_2020  1370664.0
L68       V11910    TOTAL  EU27_2020  1370664.0
M         V11910    TOTAL  EU27_2020  4684716.0
M69       V11910    TOTAL  EU27_2020  1260847.0
M70       V11910    TOTAL  EU27_2020  1042488.0
M71       V11910    TOTAL  EU27_2020  1053799.0
M72       V11910    TOTAL  EU27_2020    72069.0
M73       V11910    TOTAL  EU27_2020   341888.0
M74       V11910    TOTAL  EU27_2020   828466.0
M75       V11910    TOTAL  EU27_2020    85159.0
N         V11910    TOTAL  EU27_2020  1633196.0
N77       V11910    TOTAL  EU27_2020   185078.0
N78       V11910    TOTAL  EU27_2020    76000.0
N79       V11910    TOTAL  EU27_2020   118088.0
N80       V11910    TOTAL  EU27_2020    59000.0
N81       V11910    TOTAL  EU27_2020   541446.0
N82       V11910    TOTAL  EU27_2020   653355.0

In [11]:
df_selection=df_selection.drop(['indic_sb', 'sizeclas', 'geo'], axis=1)

In [12]:
country=['EU27_2020']
size_emp_sbs=['TOTAL']
indic_sb_sbs=['V11110']

In [13]:
df_sbs.columns

Index(['nace_r2', 'indic_sb', 'size_emp', 'geo', 2018], dtype='object')

In [14]:
#we select the rows that have the right unit, nace codes, items and countries
df_sbs_selection=df_sbs[df_sbs.nace_r2.isin(nace_sel)&df_sbs.size_emp.isin(size_emp_sbs)&df_sbs.indic_sb.isin(indic_sb_sbs)&df_sbs.geo.isin(country)]
df_sbs_selection.set_index('nace_r2', inplace=True)
df_sbs_selection

        indic_sb size_emp        geo       2018
nace_r2
B         V11110    TOTAL  EU27_2020    17333.0
C         V11110    TOTAL  EU27_2020  2025318.0
C15       V11110    TOTAL  EU27_2020    36776.0
C16       V11110    TOTAL  EU27_2020   160000.0
C19       V11110    TOTAL  EU27_2020      868.0
C22       V11110    TOTAL  EU27_2020        NaN
C23       V11110    TOTAL  EU27_2020    90000.0
C28       V11110    TOTAL  EU27_2020    80000.0
C33       V11110    TOTAL  EU27_2020   200000.0
D         V11110    TOTAL  EU27_2020   163889.0
E         V11110    TOTAL  EU27_2020    76000.0
F         V11110    TOTAL  EU27_2020  3283211.0
G         V11110    TOTAL  EU27_2020  5771445.0
G45       V11110    TOTAL  EU27_2020   818660.0
G46       V11110    TOTAL  EU27_2020  1665620.0
G47       V11110    TOTAL  EU27_2020  3287166.0
H         V11110    TOTAL  EU27_2020  1206962.0
H49       V11110    TOTAL  EU27_2020   951418.0
H50       V11110    TOTAL  EU27_2020        NaN
H51       V11110    TOTAL  EU27_2020        NaN
H52       V11110    TOTAL  EU27_2020   139314.0
H53       V11110    TOTAL  EU27_2020    93325.0
I         V11110    TOTAL  EU27_2020  1863325.0
I55       V11110    TOTAL  EU27_2020   346778.0
I56       V11110    TOTAL  EU27_2020  1516546.0
J         V11110    TOTAL  EU27_2020  1063252.0
J58       V11110    TOTAL  EU27_2020    90000.0
J59       V11110    TOTAL  EU27_2020   136238.0
J60       V11110    TOTAL  EU27_2020     9000.0
J61       V11110    TOTAL  EU27_2020    39000.0
J62       V11110    TOTAL  EU27_2020   654904.0
J63       V11110    TOTAL  EU27_2020   134000.0
L         V11110    TOTAL  EU27_2020  1283074.0
L68       V11110    TOTAL  EU27_2020  1283074.0
M         V11110    TOTAL  EU27_2020  4310784.0
M69       V11110    TOTAL  EU27_2020  1216712.0
M70       V11110    TOTAL  EU27_2020   908916.0
M71       V11110    TOTAL  EU27_2020   973083.0
M72       V11110    TOTAL  EU27_2020    63758.0
M73       V11110    TOTAL  EU27_2020   304628.0
M74       V11110    TOTAL  EU27_2020   762331.0
M75       V11110    TOTAL  EU27_2020    81357.0
N         V11110    TOTAL  EU27_2020  1456301.0
N77       V11110    TOTAL  EU27_2020   179873.0
N78       V11110    TOTAL  EU27_2020    66653.0
N79       V11110    TOTAL  EU27_2020   108424.0
N80       V11110    TOTAL  EU27_2020    48651.0
N81       V11110    TOTAL  EU27_2020   486589.0
N82       V11110    TOTAL  EU27_2020   566110.0
S95       V11110    TOTAL  EU27_2020   188781.0

In [16]:
df_sbs_selection=df_sbs_selection.drop(['indic_sb', 'size_emp', 'geo'], axis=1)
df_sbs_selection

              2018
nace_r2
B          17333.0
C        2025318.0
C15        36776.0
C16       160000.0
C19          868.0
C22            NaN
C23        90000.0
C28        80000.0
C33       200000.0
D         163889.0
E          76000.0
F        3283211.0
G        5771445.0
G45       818660.0
G46      1665620.0
G47      3287166.0
H        1206962.0
H49       951418.0
H50            NaN
H51            NaN
H52       139314.0
H53        93325.0
I        1863325.0
I55       346778.0
I56      1516546.0
J        1063252.0
J58        90000.0
J59       136238.0
J60         9000.0
J61        39000.0
J62       654904.0
J63       134000.0
L        1283074.0
L68      1283074.0
M        4310784.0
M69      1216712.0
M70       908916.0
M71       973083.0
M72        63758.0
M73       304628.0
M74       762331.0
M75        81357.0
N        1456301.0
N77       179873.0
N78        66653.0
N79       108424.0
N80        48651.0
N81       486589.0
N82       566110.0
S95       188781.0

In [17]:
result = pd.concat([df_selection,df_sbs_selection], axis=1)
result

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

          2018       2018
B      20000.0    17333.0
C    2194335.0  2025318.0
C15    39600.0    36776.0
C16   172828.0   160000.0
C19      980.0      868.0
C22    59400.0        NaN
C23    96000.0    90000.0
C28    86600.0    80000.0
C33   211000.0   200000.0
D     164000.0   163889.0
E      85000.0    76000.0
F    3679925.0  3283211.0
G    6334076.0  5771445.0
G45   886701.0   818660.0
G46  1840880.0  1665620.0
G47  3606495.0  3287166.0
H    1318331.0  1206962.0
H49  1028965.0   951418.0
H50    21000.0        NaN
H51     5500.0        NaN
H52   150000.0   139314.0
H53   109000.0    93325.0
I    2034641.0  1863325.0
I55   370252.0   346778.0
I56  1664389.0  1516546.0
J    1182812.0  1063252.0
J58   104348.0    90000.0
J59   154000.0   136238.0
J60    10000.0     9000.0
J61    44000.0    39000.0
J62   720285.0   654904.0
J63   150043.0   134000.0
L    1370664.0  1283074.0
L68  1370664.0  1283074.0
M    4684716.0  4310784.0
M69  1260847.0  1216712.0
M70  1042488.0   908916.0
M71  1053799.0   973083.0
M72    72069.0    63758.0
M73   341888.0   304628.0
M74   828466.0   762331.0
M75    85159.0    81357.0
N    1633196.0  1456301.0
N77   185078.0   179873.0
N78    76000.0    66653.0
N79   118088.0   108424.0
N80    59000.0    48651.0
N81   541446.0   486589.0
N82   653355.0   566110.0
S95        NaN   188781.0

In [19]:
#save to file

result.to_excel('comparison_number_companies.xlsx')