In [1]:
# pandas
import pandas as pd

In [2]:
import PySimpleGUI as sg
def selection(option):
    #sg.theme('DarkAmber')   # Add a touch of color
    #select the variable we want to calculate
    options = option

    # All the stuff inside your window.
    layout = [ 
            [sg.Text('Select one->'), sg.Listbox(options,select_mode=sg.LISTBOX_SELECT_MODE_SINGLE,size=(20,len(options)))],
            [sg.Button('Ok'), sg.Button('Cancel')]
        ]

    # Create the Window
    window = sg.Window('Make your choice', layout)

    # Event Loop to process "events" and get the "values" of the input
    while True:
        event, values = window.read()
        print( f"event={event}" )
        if event is None or event == 'Ok' or event == 'Cancel': # if user closes window or clicks cancel
            break
        
    # close  the window        
    window.close()

    if event == "Cancel":
        print( "You cancelled" )
    else:
        print('You entered ', values[0])
        sg.popup( f"You selected {values[0]}" )        
    return values

In [3]:
import eurostat
df = eurostat.get_data_df('nama_10_a64', flags=False)
df

,unit,nace_r2,na_item,geo\time,2020,2019,2018,2017,2016,2015,...,1984,1983,1982,1981,1980,1979,1978,1977,1976,1975
0,CLV05_MEUR,A,B1G,AL,NaN,1824.9,1813.6,1792.5,1777.6,1742.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CLV05_MEUR,A,B1G,AT,3820.3,3940.9,3945.2,3803.9,3615.5,3536.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CLV05_MEUR,A,B1G,BE,2541.5,2727.7,2703.1,2997.0,2872.1,3092.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CLV05_MEUR,A,B1G,BG,1498.3,1549.4,1488.4,1518.5,1400.1,1302.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CLV05_MEUR,A,B1G,CH,2744.5,2804.2,3002.4,2766.7,2855.9,2829.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231957,PYP_MNAC,U,P51C,RO,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231958,PYP_MNAC,U,P51C,SE,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231959,PYP_MNAC,U,P51C,SI,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231960,PYP_MNAC,U,P51C,SK,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231961,PYP_MNAC,U,P51C,UK,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index([    'unit',  'nace_r2',  'na_item', 'geo\time',       2020,       2019,
             2018,       2017,       2016,       2015,       2014,       2013,
             2012,       2011,       2010,       2009,       2008,       2007,
             2006,       2005,       2004,       2003,       2002,       2001,
             2000,       1999,       1998,       1997,       1996,       1995,
             1994,       1993,       1992,       1991,       1990,       1989,
             1988,       1987,       1986,       1985,       1984,       1983,
             1982,       1981,       1980,       1979,       1978,       1977,
             1976,       1975],
      dtype='object')

In [5]:
#eliminate columns for years previous to 2011
years =[]
year_start=1975
year_study=2018
for y in range(year_start,year_study): 
    years.append(y)
years.append(2019)
years.append(2020)
df=df.drop(years, axis=1)#quitamos todas las columnas de añosque no nos interesan
#rename geo time column to be easier to handle because of the name
df.rename(columns={"geo\\time": "geo"}, inplace=True)
#We can get the unique values of the different variables
df

              unit nace_r2 na_item geo    2018
0       CLV05_MEUR       A     B1G  AL  1813.6
1       CLV05_MEUR       A     B1G  AT  3945.2
2       CLV05_MEUR       A     B1G  BE  2703.1
3       CLV05_MEUR       A     B1G  BG  1488.4
4       CLV05_MEUR       A     B1G  CH  3002.4
...            ...     ...     ...  ..     ...
231957    PYP_MNAC       U    P51C  RO     0.0
231958    PYP_MNAC       U    P51C  SE     0.0
231959    PYP_MNAC       U    P51C  SI     0.0
231960    PYP_MNAC       U    P51C  SK     0.0
231961    PYP_MNAC       U    P51C  UK     NaN

[231962 rows x 5 columns]

In [6]:
# pandas
import pandas as pd 
# pip install eurostat  #herramienta para importar datos de eurostat
import eurostat
df_sbs = eurostat.get_data_df('sbs_sc_sca_r2', flags=False)
df_sbs

,nace_r2,indic_sb,size_emp,geo\time,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005
0,B,V11110,0-9,AT,NaN,183.0,192.0,215.0,226.0,230.0,227.0,238.0,238.0,242.0,245.0,244.0,237.0,NaN,NaN,NaN
1,B,V11110,0-9,BA,NaN,101.0,102.0,121.0,129.0,132.0,121.0,118.0,121.0,150.0,NaN,NaN,NaN,NaN,NaN,NaN
2,B,V11110,0-9,BE,NaN,140.0,118.0,173.0,144.0,167.0,149.0,175.0,160.0,227.0,249.0,248.0,NaN,NaN,NaN,NaN
3,B,V11110,0-9,BG,NaN,190.0,211.0,215.0,224.0,240.0,228.0,243.0,252.0,245.0,241.0,230.0,199.0,NaN,NaN,NaN
4,B,V11110,0-9,CH,NaN,82.0,84.0,81.0,85.0,84.0,86.0,89.0,75.0,75.0,79.0,85.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470233,S95,V92100,TOTAL,RS,NaN,4.4,4.3,4.2,4.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
470234,S95,V92100,TOTAL,SE,NaN,1.1,1.1,1.2,1.2,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
470235,S95,V92100,TOTAL,SI,NaN,1.5,1.5,1.5,1.5,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
470236,S95,V92100,TOTAL,SK,NaN,1.5,1.4,1.5,1.4,1.4,1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
470237,S95,V92100,TOTAL,UK,NaN,NaN,5.2,4.4,7.3,6.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#eliminate columns for years previous to 2011
years =[]
year_start=2005
year_study=2018
for y in range(year_start,year_study): 
    years.append(y)
years.append(2019)
years.append(2020)
df_sbs=df_sbs.drop(years, axis=1)#quitamos todas las columnas de añosque no nos interesan
#rename geo time column to be easier to handle because of the name
df_sbs.rename(columns={"geo\\time": "geo"}, inplace=True)
#We can get the unique values of the different variables

In [8]:
nace_dif=set(df.nace_r2.unique())-set(df_sbs.nace_r2.unique())

In [9]:
nace_sel=set(df.nace_r2.unique())-set(nace_dif)
nace_sel

{'B',
 'C',
 'C16',
 'C17',
 'C18',
 'C19',
 'C20',
 'C21',
 'C22',
 'C23',
 'C24',
 'C25',
 'C26',
 'C27',
 'C28',
 'C29',
 'C30',
 'C33',
 'D',
 'E',
 'E36',
 'F',
 'G',
 'G45',
 'G46',
 'G47',
 'H',
 'H49',
 'H50',
 'H51',
 'H52',
 'H53',
 'I',
 'J',
 'J58',
 'J61',
 'L',
 'M',
 'M71',
 'M72',
 'M73',
 'N',
 'N77',
 'N78',
 'N79',
 'S95'}

In [10]:
unit=['CP_MEUR'] 
na_item=['B1G']
country=['EU27_2020']

#we select the rows that have the right unit, nace codes, items and countries
df_selection=df[df.nace_r2.isin(nace_sel)&df.unit.isin(unit)&df.na_item.isin(na_item)&df.geo.isin(country)]
df_selection.set_index('nace_r2', inplace=True)
df_selection

            unit na_item        geo       2018
nace_r2
B        CP_MEUR     B1G  EU27_2020    44071.8
C        CP_MEUR     B1G  EU27_2020  2052155.3
C16      CP_MEUR     B1G  EU27_2020    36387.6
C17      CP_MEUR     B1G  EU27_2020    47095.3
C18      CP_MEUR     B1G  EU27_2020    26786.9
C19      CP_MEUR     B1G  EU27_2020    25503.9
C20      CP_MEUR     B1G  EU27_2020        NaN
C21      CP_MEUR     B1G  EU27_2020        NaN
C22      CP_MEUR     B1G  EU27_2020    92658.0
C23      CP_MEUR     B1G  EU27_2020    69501.6
C24      CP_MEUR     B1G  EU27_2020    71136.9
C25      CP_MEUR     B1G  EU27_2020   183256.9
C26      CP_MEUR     B1G  EU27_2020        NaN
C27      CP_MEUR     B1G  EU27_2020    98287.3
C28      CP_MEUR     B1G  EU27_2020        NaN
C29      CP_MEUR     B1G  EU27_2020   234694.7
C30      CP_MEUR     B1G  EU27_2020        NaN
C33      CP_MEUR     B1G  EU27_2020    81350.4
D        CP_MEUR     B1G  EU27_2020   227833.6
E        CP_MEUR     B1G  EU27_2020   114257.4
E36      CP_MEUR     B1G  EU27_2020    30035.5
F        CP_MEUR     B1G  EU27_2020   633924.4
G        CP_MEUR     B1G  EU27_2020  1373811.7
G45      CP_MEUR     B1G  EU27_2020   180621.8
G46      CP_MEUR     B1G  EU27_2020   671214.9
G47      CP_MEUR     B1G  EU27_2020   521975.0
H        CP_MEUR     B1G  EU27_2020   594779.1
H49      CP_MEUR     B1G  EU27_2020   270955.7
H50      CP_MEUR     B1G  EU27_2020    27081.4
H51      CP_MEUR     B1G  EU27_2020    34077.0
H52      CP_MEUR     B1G  EU27_2020   217903.6
H53      CP_MEUR     B1G  EU27_2020    44761.4
I        CP_MEUR     B1G  EU27_2020   349495.3
J        CP_MEUR     B1G  EU27_2020   595129.2
J58      CP_MEUR     B1G  EU27_2020    74773.3
J61      CP_MEUR     B1G  EU27_2020   135757.0
L        CP_MEUR     B1G  EU27_2020  1308068.5
M        CP_MEUR     B1G  EU27_2020   803206.2
M71      CP_MEUR     B1G  EU27_2020   163067.0
M72      CP_MEUR     B1G  EU27_2020   109154.2
M73      CP_MEUR     B1G  EU27_2020    53566.6
N        CP_MEUR     B1G  EU27_2020   566242.4
N77      CP_MEUR     B1G  EU27_2020   150929.2
N78      CP_MEUR     B1G  EU27_2020   143224.1
N79      CP_MEUR     B1G  EU27_2020    27673.0
S95      CP_MEUR     B1G  EU27_2020    15253.0

In [11]:
df_selection=df_selection.drop(['na_item', 'unit', 'geo'], axis=1)

In [12]:
country=['EU27_2020']
size_emp_sbs=['TOTAL']
indic_sb_sbs=['V12150']

In [13]:
df_sbs.columns

Index(['nace_r2', 'indic_sb', 'size_emp', 'geo', 2018], dtype='object')

In [14]:
#we select the rows that have the right unit, nace codes, items and countries
df_sbs_selection=df_sbs[df_sbs.nace_r2.isin(nace_sel)&df_sbs.size_emp.isin(size_emp_sbs)&df_sbs.indic_sb.isin(indic_sb_sbs)&df_sbs.geo.isin(country)]
df_sbs_selection.set_index('nace_r2', inplace=True)
df_sbs_selection

        indic_sb size_emp        geo       2018
nace_r2
B         V12150    TOTAL  EU27_2020    44160.8
C         V12150    TOTAL  EU27_2020  1944810.7
C16       V12150    TOTAL  EU27_2020    35000.0
C17       V12150    TOTAL  EU27_2020    48073.3
C18       V12150    TOTAL  EU27_2020    25000.0
C19       V12150    TOTAL  EU27_2020    30314.5
C20       V12150    TOTAL  EU27_2020        NaN
C21       V12150    TOTAL  EU27_2020   112511.1
C22       V12150    TOTAL  EU27_2020    92434.2
C23       V12150    TOTAL  EU27_2020    70000.0
C24       V12150    TOTAL  EU27_2020    72121.6
C25       V12150    TOTAL  EU27_2020   180000.0
C26       V12150    TOTAL  EU27_2020        NaN
C27       V12150    TOTAL  EU27_2020    95911.9
C28       V12150    TOTAL  EU27_2020   230000.0
C29       V12150    TOTAL  EU27_2020   205917.1
C30       V12150    TOTAL  EU27_2020    58238.4
C33       V12150    TOTAL  EU27_2020    58000.0
D         V12150    TOTAL  EU27_2020   214123.1
E         V12150    TOTAL  EU27_2020    96000.0
E36       V12150    TOTAL  EU27_2020    25903.1
F         V12150    TOTAL  EU27_2020   506884.8
G         V12150    TOTAL  EU27_2020  1212974.8
G45       V12150    TOTAL  EU27_2020   143999.8
G46       V12150    TOTAL  EU27_2020   609516.3
G47       V12150    TOTAL  EU27_2020   459458.6
H         V12150    TOTAL  EU27_2020   487114.0
H49       V12150    TOTAL  EU27_2020   223404.3
H50       V12150    TOTAL  EU27_2020    22000.0
H51       V12150    TOTAL  EU27_2020    29900.1
H52       V12150    TOTAL  EU27_2020   162000.0
H53       V12150    TOTAL  EU27_2020    50033.9
I         V12150    TOTAL  EU27_2020   240424.7
J         V12150    TOTAL  EU27_2020   512831.2
J58       V12150    TOTAL  EU27_2020        NaN
J61       V12150    TOTAL  EU27_2020   134996.2
L         V12150    TOTAL  EU27_2020   248499.4
M         V12150    TOTAL  EU27_2020   570814.7
M71       V12150    TOTAL  EU27_2020   152824.9
M72       V12150    TOTAL  EU27_2020    31700.0
M73       V12150    TOTAL  EU27_2020    41906.3
N         V12150    TOTAL  EU27_2020   470312.8
N77       V12150    TOTAL  EU27_2020   100487.3
N78       V12150    TOTAL  EU27_2020   130854.9
N79       V12150    TOTAL  EU27_2020        NaN
S95       V12150    TOTAL  EU27_2020     8539.0

In [15]:
df_sbs_selection=df_sbs_selection.drop(['indic_sb', 'size_emp', 'geo'], axis=1)
df_sbs_selection

              2018
nace_r2
B          44160.8
C        1944810.7
C16        35000.0
C17        48073.3
C18        25000.0
C19        30314.5
C20            NaN
C21       112511.1
C22        92434.2
C23        70000.0
C24        72121.6
C25       180000.0
C26            NaN
C27        95911.9
C28       230000.0
C29       205917.1
C30        58238.4
C33        58000.0
D         214123.1
E          96000.0
E36        25903.1
F         506884.8
G        1212974.8
G45       143999.8
G46       609516.3
G47       459458.6
H         487114.0
H49       223404.3
H50        22000.0
H51        29900.1
H52       162000.0
H53        50033.9
I         240424.7
J         512831.2
J58            NaN
J61       134996.2
L         248499.4
M         570814.7
M71       152824.9
M72        31700.0
M73        41906.3
N         470312.8
N77       100487.3
N78       130854.9
N79            NaN
S95         8539.0

In [16]:
result = pd.concat([df_selection,df_sbs_selection], axis=1)
result

              2018       2018
nace_r2
B          44071.8    44160.8
C        2052155.3  1944810.7
C16        36387.6    35000.0
C17        47095.3    48073.3
C18        26786.9    25000.0
C19        25503.9    30314.5
C20            NaN        NaN
C21            NaN   112511.1
C22        92658.0    92434.2
C23        69501.6    70000.0
C24        71136.9    72121.6
C25       183256.9   180000.0
C26            NaN        NaN
C27        98287.3    95911.9
C28            NaN   230000.0
C29       234694.7   205917.1
C30            NaN    58238.4
C33        81350.4    58000.0
D         227833.6   214123.1
E         114257.4    96000.0
E36        30035.5    25903.1
F         633924.4   506884.8
G        1373811.7  1212974.8
G45       180621.8   143999.8
G46       671214.9   609516.3
G47       521975.0   459458.6
H         594779.1   487114.0
H49       270955.7   223404.3
H50        27081.4    22000.0
H51        34077.0    29900.1
H52       217903.6   162000.0
H53        44761.4    50033.9
I         349495.3   240424.7
J         595129.2   512831.2
J58        74773.3        NaN
J61       135757.0   134996.2
L        1308068.5   248499.4
M         803206.2   570814.7
M71       163067.0   152824.9
M72       109154.2    31700.0
M73        53566.6    41906.3
N         566242.4   470312.8
N77       150929.2   100487.3
N78       143224.1   130854.9
N79        27673.0        NaN
S95        15253.0     8539.0

In [17]:
#save to file

result.to_excel('comparison_valueadded.xlsx')